# Exclude node_modules everywhere
node_modules/
**/node_modules/

# Python & virtual environments
.venv/
venv/
**/venv/
__pycache__/
*.pyc
*.pkl

# Build artifacts & env
dist/
build/
.git/
.env
.env.*
.vscode/
.idea/
